.user-component {
	display: flex;
	justify-content: space-between;
	align-items: center;
}

.user-component__column {
	display: flex;
	align-items: center;
}

.user-component__avatar {
	border-radius: 25px;
	margin-right: 20px;
}

.user-component__title {
	font-weight: 600;
	font-size: 19px;
	color: rgba(0, 0, 0, 0.9);
	display: flex;
}

.user-component__subtitle {
	margin-top: 5px;
	color: rgba(0, 0, 0, 0.5);
	display: inline-block;
}

.user-component__avatar--xl {
	height: 70px;
	width: 70px;
}

.user-component__avatar {
	height: 70px;
	width: 70px;
}

.user-component__avatar--sm {
	height: 65px;
	width: 65px;
}

.user-component__title--not--bold {
	font-weight: 400;
}

.user-component__column:last-child {
	color: rgba(0, 0, 0, 0.5);
	display: flex;
	align-items: center;
}

.user-component__column i {
	margin-left: 3px;
}

/*-- .user-component Chats --*/

.user-component__time {
	margin-bottom: 10px;
	display: block;
}

.user-component .far {
	color: rgba(0, 0, 0, 0.6);
}

.user-component__text .fas {
	width: 13px;
	height: 13px;
	color: tomato;
	display: inline-block;
}
